_ngo
_xmsgs
_ng_xmsgs
xlnx_auto_0_xdb
xst
iseconfig
isim
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
isim.log
xilinxsim.ini
*_bitgen.xwbt
*_guide.ncd
*_summary.html
*.gise
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_envsettings.html
*_map.map
*_map.ngm
*_map.xrpt
*_map.mrp
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.xml
*_usage.xml
*_xst.xrpt
*_isim_beh.exe
*_isim_beh.wdb
